*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* heade section */

nav{
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
}

.menu-title{
    font-size: 45px;
    margin: 10px;
    font-weight: 700;
}

nav img{
    width: 80px;
    height: 40px;
    padding: 8px;
    margin: 6px;
}

.logo{
    display: flex;
    gap: 2px;
}

.menu-bar{
    text-decoration: none;
    display: flex;
}

.menu-items ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 20px;
    
}
nav a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;
}
.btn-menu{
    width: 262px;
    height: 56px;
    font-size: 20px;
    border-radius: 8px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    margin-top: 10px;
}



/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    margin-bottom: 0px;
    gap: 300px;
}
.banner-item{
    font-size: 48px;
    color: #0B0223;
    font-weight: 600;
    /* text-align: center; */
}

.got{
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-des ul > li{
    font-size: 20px;
    list-style: none;
}

.banner-btn{
    padding-top: 20px;
}
.banner-btn1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: aliceblue;
}
.banner-btn2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: aliceblue;
}

/* gammer items section */
.gamer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer-title{
    text-align: right;
    margin-right: 30px;


}
.title-gammer{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.des-gammer{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.pu{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.online-title{
    text-align: center;
    padding-top: 200px;
}
.game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 10px;  
}

.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-tag{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 100px;
}

.online-game-img{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.img1 img p{
    margin-left: 100px;
}


/* online game section */

.instant-play{
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 200px;
    gap: 300px;
}
.instant-heading{
    text-align: right;
    font-size: 48px;
    font-weight: 700;

}
.instant-des{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.ga-play{
    display: flex;
    justify-content: center; 
    display: flex;
    align-items: center;
    padding-top: 200px;
    gap: 300px;
    margin-top: 200px;

}

.ga-img{
    padding-left: 100px;
    width: 710px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 8px;
}
.ga-heading{
    width: 426px;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
 
.ga-des{
    width: 483px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    
}   

.popup-img{
    text-align: right;
    margin-top: -250px;
    border-radius: 8px;
    margin-left: 500px;

}

.insta-ig{
    text-align: left;
    margin-top: -300px;
    margin-right: 600px;
}


/* career section */

.career-section{
    display: flex;
    margin-top: 400px;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    justify-content: space-evenly;
    height: 700px;
    /* width: 1920px; */

}
.list{
    display: flex;
    padding-top: 50px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-left: 100px;
}

.career-title{
    width: 426px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-left: 100px;
    
}
.career-des{
    width: 680px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-left: 100px;
}
.career-button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border: none;
    margin-top: 30px;
    margin-right: 3px;

}

