*{
    margin: 0px;
    padding: 0px;
}


/* heade section */

nav{
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.menu-title{
    font-size: 45px;
    margin: 10px;
    font-weight: 700;
}

nav img{
    width: 80px;
    height: 40px;
    padding: 8px;
    margin: 6px;
}

.logo{
    display: flex;
    gap: 2px;
}

.menu-bar{
    text-decoration: none;
    display: flex;
}

.menu-items ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    
}
nav a {
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;
}



/* banner section */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    margin-bottom: 0px;
    
}
.banner-item{
    font-size: 48px;
    color: #0B0223;
    font-weight: 600;
    /* text-align: center; */
}

.got{
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-des ul > li{
    font-size: 20px;
    list-style: none;
}

.banner-btn{
    padding-top: 20px;
}
.banner-btn1{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: aliceblue;
}
.banner-btn2{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: aliceblue;
}

/* gammer items section */
.gamer-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer-title{
    text-align: right;
    margin-right: 100px;

}
.title-gammer{
    margin-top: 30px;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.des-gammer{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.purpose{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}
.pu{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}